@import "../../assets/styles/constants.scss";

.main-wrapper {
  height: calc(100vh - #{$headerSize});
  background: rgb(113, 109, 109);
  overflow: auto;
  margin-left: $subHeaderSize;
  padding: 10px;
}
